<%= render "shared/page_title", content: "#{@quiz.name} Questions" %>
<%= render "shared/page_heading", content: @quiz.name %>

<%= button_to "Publish!", [:publish, @quiz] %>

    <%= form_for [@quiz, @question] do |f| %>
        <%= render 'shared/validation_errors', :record => @question %>
        <%= render 'shared/flash_notice' %>

        <%= f.hidden_field :quiz_id, value: @quiz.id %>
        <%= f.label :content, "Question Content:" %>
        <%= f.text_field :content %>

        <%= render 'answer_fields', :f => f %>

        <%= f.submit "Add Question" %>
    <% end %>



<% if @quiz.questions.any? %>
    <%= render 'added_questions', record: @quiz %>
<% else %>
    <p>Add a question!</p>
<% end %>