<h1><%= @quiz.name %></h1>
<%= button_to "Publish!", [:publish, @quiz] %>


<%= form_for [@quiz, @question] do |f| %>
    <%= f.hidden_field :quiz_id, value: @quiz.id %>
    <%= f.label :content, "Question Content:" %><br>
    <%= f.text_field :content %><br><br>
    <%= f.fields_for :answers do |answer_form| %>
        <%= render 'answer_fields', :f => answer_form %>
    <% end %>

    <%= f.submit "Add Question" %>
<% end %>



<% if @quiz.questions.any? %>
    <ol>
        <% @quiz.questions.each do |q| %>
            <li><%= q.content %>
                <%= button_to "Remove", {action: 'destroy', quiz_id: @quiz.id, id: q.id}, method: 'delete' %>
                <ul>
                    <% q.answers.each do |a| %>
                        <li>
                            <%= a.content %><%= " -correct answer" if a.correct_answer %>
                        </li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    </ol>
<% else %>
    <p>Add a question!</p>
<% end %>