<%= render "shared/page_title", content: "Create A Quiz" %>
<%= render "shared/page_heading", content: "Create A Quiz" %>

<div class="form-container">
    <%= form_for @quiz, url: group_quizzes_path() do |f| %>
        <%= render 'shared/validation_errors', :record => @quiz %>
        <%= f.hidden_field :group_id, value: @quiz.group_id %>
        <%= f.text_field :name %>
        <%= f.submit "Add Questions" %>
    <% end %>
</div>