<%= render "shared/page_title", content: "Classes" %>
<%= render "shared/page_heading", content: "Enroll in a Class:" %>
<%= render "shared/flash_notice" %>

<div class="list-container">
    <% @groups.each do |g| %>
        <%= link_to(group_enrollments_path(g), method: 'post', class: "quiz-link") do |l| %>
            <div class="quiz-block group">
                <h4><%= "Enroll: #{g.name }" %></h4>
                <p><%= g.teacher.last_name %></p>
            </div>
        <% end %>
    <% end %>
</div>