<%= render "shared/page_title", content: "New Class" %>
<%= render "shared/page_heading", content: "Create a Class!" %>


<div class="form-container">
    <%= form_for @group do |f| %>
        <%= render 'shared/validation_errors', :record => @group %>
        <%= f.label "Group Name: ", :name%>
        <%= f.text_field :name %>
        <%= f.submit "Create Group" %>
    <% end %>
</div>