<%= render "shared/page_title", content: @group.name %>
<div class="columns">
    <div class="column">
        <h2>Quizzes</h2>
        <% unattempted_quizzes(@group, current_user).each do |q| %>
                <%# MAKE INTO PARTIAL %>
                <%# <%= link_to q.name, new_quiz_result_path(q) %>
                <%= link_to(new_quiz_result_path(q), class: "block-link") do %>
                    <section class="quiz-block">
                        <div class="block-heading">
                            <h3><%= q.name %></h3>
                        </div>
                        <p><%= q.questions.count %> Questions</p>
                    </section>
                <% end %>
        <% end %>
    </div>

    <div class="column">
        <h2>Completed</h2>
        <% finished_quizzes(@group, current_user).each do |q| %>
            <%# MAKE INTO PARTIAL %>
            <section class="quiz-block">
                <div class="block-heading">
                    <h3><%= q.name %></h3>
                </div>
                <p>Grade: <%= q.results.where(user: current_user).first.grade %></p>
            </section>
        <% end %>
    </div>
</div>