<%# show list of unattempted quizzes link_to new_result %>
<%# show list of taken quizzes with grades %>
<h1><%= @group.name %></h1>
<h3><%= @group.teacher.last_name %></h3>

<%# MAKE INTO PARTIAL %>
<h2>Quizzes</h2>
<% unattempted_quizzes(@group, current_user).each do |q| %>
        <%= link_to q.name, new_quiz_result_path(q) %>
<% end %>

<%# MAKE INTO PARTIAL %>
<h2>Finished Quizzes</h2>
<% finished_quizzes(@group, current_user).each do |q| %>
    Title: <%= q.name %>
    <br>
    Grade: <%= q.results.where(user: current_user).first.grade %>
    <br><br>
<% end %>