<%= render "shared/page_title", content: @group.name %>
<%= render "shared/page_heading", content: @group.name %>

<div class="list-container">
    <h2>Quizzes</h2>
    <% @group.quizzes.each do |q| %>
        <% if q.completed_by(current_user) %>
            <section class="quiz-block completed">
                <div class="block-heading">
                    <h3><%= q.name%></h3>
                </div>
                <p>Grade: <%= q.user_grade(current_user) %></p>
            </section>
        <% else %>
            <%= link_to(new_quiz_result_path(q), class: "block-link") do %>
                <section class="quiz-block untaken">
                    <div class="block-heading">
                        <h3><%= q.name %></h3>
                    </div>
                    <p><%= q.questions.count%> Questions</p>
                </section>
            <% end %>

        <% end %>
    <% end %>
