<%= render "shared/page_title", content: @group.name %>
<%= render "shared/page_heading", content: @group.name %>

<% content_for :page_specific_link do %>
    <%= link_to "Create A Quiz", new_group_quiz_path(@group) %>
    <%= link_to "Delete Class", delete_group_path(@group), method: "delete" %>
<% end %>

<div class="list-container">
    <h2>Quizzes</h2>
    <% if @group.quizzes.count > 0 %>
        <%= render partial: "display_group_quizzes", locals: {quizzes: @group.quizzes, group: @group} %>
    <% else %>
        <%= link_to "Create A Quiz for #{@group.name}!", new_group_quiz_path(@group) %>
    <% end %>
</div>