<%= render "shared/page_title", content: @group.name %>
<%= render "shared/page_heading", content: @group.name %>

<% content_for :page_specific_link do %>
    <%= link_to "Create A Quiz", new_group_quiz_path(@group) %>
    <%= link_to "Delete Class", delete_group_path(@group), method: "delete" %>
<% end %>

<div class="list-container">
    <h2>Quizzes</h2>
    <%# Make partial %>
    <%# ADD EMPTY MESSAGE %>
    <% if @group.quizzes.count > 0 %>
        <% @group.quizzes.each do |q| %>
            <%= link_to group_quiz_path(@group, q), class: "quiz-link" do %>
                <section class="quiz-block group">
                    <h4><%= q.name %></h4>
                    <p><%= q.questions.count %> Questions</p>
                    <p><%= student_results_count(q) %></p>
                </section>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to "Create A Quiz for #{@group.name}!", new_group_quiz_path(@group) %>
    <% end %>
</div>