<%= render "shared/page_title", content: "Sign Up" %>
<%= render "shared/page_heading", content: "Sign Up" %>

<div class="form-container">
    <%= form_for @user do |f| %>
        <%= render "shared/validation_errors", record: @user %>
        <%= f.label :first_name, "First Name:" %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name, "Last Name:" %>
        <%= f.text_field :last_name %>
        <%= f.label :email, "Email Address:" %>
        <%= f.text_field :email %>
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password %>
        <%= f.label :teacher, "Are You a Teacher?" %>
        <%= f.check_box :teacher, checked_value: true, unchecked_value: false %>
        <%= f.submit "Create Account!" %>
    <% end %>

    <%= link_to "Sign up as a Teacher with Google", '/auth/google_oauth2?teacher=true' %>
    <%= link_to "Sign up as a Student with Google", '/auth/google_oauth2?teacher=false' %>
</div>
