<h4><%= group.name %></h4>
<%= link_to "View", group_path(group) %>
<p>Teacher: <%= group.teacher.full_name %></p>
<p>
    Quizzes Total: <%= group.quizzes.published.count %>, 
    Due: <%= group.quizzes.published.count - group.results.where(user: current_user).count %>, 
    Completed: <%= group.quizzes.collect{|q| q.completed_by(current_user)}.count %>
</p>
