<%= render "shared/page_title", content: "Dashboard" %>
<%= render "shared/page_heading", content: "Groups" %>

<div class="list-container">
    <% @user.taught_classes.each do |c| %>
        <%= link_to(c, class: "") do %>
            <section class="">
                <div class="">
                    <h3><%= c.name %></h3>
                </div>
                <p><%= c.students.count %> Students Enrolled.</p>
            </section>
        <% end %>
    <% end %>
</div>


