<!DOCTYPE html>
<html>
  <head>
    <title>Quizzical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <%= button_to "logout", logout_path, method: 'delete' %>
    <% else%>
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Sign Up', sign_up_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
