<!DOCTYPE html>
<html>
  <head>
    <title>Quizzical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <main class="view-display">
      <div class="view">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
