<!DOCTYPE html>
<html>
  <head>
    <title>Quizzical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session[:user_id] %>
      <%= button_to "logout", logout_path, method: 'delete' %>
    <% else%>
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Sign Up', sign_up_path %>
    <% end %>
    
    <%# If logged in and teacher %>
    <%#= link_to "Create a class!", :new_group %>
    <%# If logged in and student %>
    <%#= link_to "Find A Group", groups_path %>

    <%# if on adding questions page %>
    <%# <%= button_to "Publish!", [:publish, @quiz] %> %>



    <%# Yield to a View %>
    <%= yield %>

  </body>
</html>
